@model IEnumerable<FinalChallenge_BasketballTeamApp.Models.Fixture>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "upcomingFixtures";
}

@{ if (ViewBag.Confirmed)
    {

        <h2>Upcoming</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Team)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.teamManager)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fixtureDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Venue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Spent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manager.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Team)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.teamManager)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fixtureDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Venue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Spent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manager.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.fixtureID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.fixtureID })
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p>You Are Not Authorized</p>
    }
}
