@model IEnumerable<FinalChallenge_BasketballTeamApp.Models.AspNetUser>
@using FinalChallenge_BasketballTeamApp.Models;
@using Microsoft.AspNet.Identity;
@*@model ViewModel*@


@{
    ViewBag.Title = "AspNetUsers";
}
@{ if (ViewBag.Confirmed)
    {
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
            @Html.ActionLink("Fixtures", "Fixtures")
            @Html.ActionLink("Managers", "Managers")
            @Html.ActionLink("Confirm New Users", "AspNetUser", "Index")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailConfirmed)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailConfirmed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    @*<td>
                            @{ string Approval = "Pending";}
                            @for (AspNetRole r in Model.AspNetRoles)
                                {
                                    if (r.Id == item.Id)

                                }
                            @Approval
                        </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
            @*@foreach (var item in Model.AspNetRoles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }*@

        </table>
    }
    else
    {
        <p>You Are Not Authorized</p>
    }


}