@*@model IEnumerable<FinalChallenge_BasketballTeamApp.Models.Manager>*@
@using Microsoft.AspNet.Identity;
@using FinalChallenge_BasketballTeamApp.Models;
@model ViewModel

@{
                /**/

                ViewBag.Title = "Index";
}

<h2>Index</h2>

@{ if (ViewBag.Confirmed)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Manager.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manager.Team)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manager.TotalSpent)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Managers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Team)
                    </td>
                    <td>
                        @{ decimal? totalSpent = 0;}
                        @foreach (Fixture f in Model.Fixtures)
                        {
                            if (f.managerID == item.managerID)
                            {
                                totalSpent += f.Spent;
                            }
                        }
                        @totalSpent
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.managerID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.managerID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.managerID })
                        </td>
                    </tr>
                }

        </table>
    }
    {
        <p>You Are Not Authorized</p>
    }
}
